.button
  padding: 1.3rem 1.8rem
  border: none
  border-radius: 0.14rem
  text-transform: uppercase
  &:hover
    cursor: pointer
  &:focus
    outline: none
  &--primary
    background-color: $primary
    color: $light
    box-shadow: 0 0.36rem 1.07rem rgba($primary, 0.3)
    transition: background 0.5s
    &:hover
      box-shadow: 0 0.36rem 1.07rem rgba($light, 0.3)
      background: linear-gradient($primary, $dark)
  &--outline
    border: 1px solid $light
    background-color: transparent
    color: $light
    padding: 1.25rem 1.57rem
    width: 14.8rem
    &:hover
      transition: border 0.2s
      border: 1px solid $primary
      color: $primary
.label
  font-size: 1.2rem
  &--light
    color: rgba($light,0.5)
.input
  background: transparent
  border: none
  border-bottom: 1px solid rgba(54, 54, 54, 0.3)
  font-size: 1.4rem
  padding: 0.5rem
  color: $light
  padding: 0.5rem 0
  &--light
    &::placeholder
      color: $light
  &:focus
    outline: none
.policy
  &__checkbox
    margin-left: -1rem
    opacity: 0
    visibility: hidden
    &:checked +
      .policy__label
        &::before
          content: ''
          background: $primary url('../img/modal-check.svg') no-repeat center / 0.8rem
  &__label
    font-size: 1.2rem
    display: flex
    align-items: center
    cursor: pointer
    margin: 0
    &::before
      content:  ''
      width: 1.28rem
      height: 1.28rem
      border: 1px solid $primary
      border-radius: 1px
      margin-right: 0.64rem
    &--center
      justify-content: center
label
  position: relative
  &.invalid
    position: absolute
    color: #D46F53
    padding: 4.2rem 0
input
  &.invalid
    border-bottom: 1px solid #D46F53