.button
  padding: 0.93rem 1.43rem
  border: none
  border-radius: 0.14rem
  text-transform: uppercase
  &:hover
    cursor: pointer
  &:focus
    outline: none
  &--primary
    background-color: $primary
    color: $light
    box-shadow: 0 0.36rem 1.07rem rgba($primary, 0.3)
    transition: background 0.5s
    &:hover
      box-shadow: 0 0.36rem 1.07rem rgba($light, 0.3)
      background: linear-gradient($primary, $dark)
  &--outline
    border: 1px solid $light
    background-color: transparent
    color: $light
    &:hover
      transition: border 0.2s
      border: 1px solid $primary
      color: $primary