@media screen and ( max-width: 1260px)
  html
    font-size: 12px
@media screen and ( max-width: 1200px)
  .header
    &__contacts
      margin-right: 2rem
  .nav
    &__item
      margin-right: 1.7rem
  .hero
    &__text
      font-size: 1.5rem

@media screen and ( max-width: 992px)
  .nav
    &__item
      display: none
  .menu
    display: flex
    justify-content: space-between
    align-items: center
    margin: auto
  .hero
    &__instagram
      display: none
    &__scroll-down
      display: none
    &__text
      font-size: 1.4rem
    &__button
      padding: 0.62rem 0.95rem
  .title
    font-size: 2.1rem


@media screen and ( max-width: 520px)
  .nav
    &__item
      display: none
  .menu
    display: flex
    justify-content: space-between
    align-items: center
    margin: auto
  .title
    font-size: 1.8rem
  .hero
    &__text
      font-size: 1.3rem
    &__button
      display: block
      width: 22.86rem
      margin-bottom: 1.86rem
  .swiper
    &-slide
      &-image
        margin-top: 3rem


@media screen and ( max-width: 320px)
  .menu
    padding-left: 1.5rem
    padding-right: 1.5rem
  .contacts
    &__button
     display: none
    &__phone
      margin: auto
      color: $light
      text-decoration: none
  .title
    font-size: 1.95rem
    line-height: 1.4
    letter-spacing: 0.015rem
  .hero
    &__content
      width: 100%
      padding: 1.5rem
    &__text
      width: 100%
      font-size: 1.5rem
      letter-spacing: 0.015rem
      line-height: 1.4
      margin-bottom: 2.7rem
    &::after
      display: none

  .button
    padding: 1.4rem
    font-size: 1.14rem
    line-height: 1.4
    &--primary
      margin-bottom: 2.2rem
  .section-title
    text-align: center
    &__heading
      margin: auto
      font-size: 1.87rem
      padding-bottom: 0.43rem
      max-width: 20rem
    &__text
      max-width: 27rem
      margin-top: 2rem
    &__word
      display: inline
      &::after
        display: none
  .col
    max-width: 29rem
  .card
    margin-top: 1.2rem
    margin-bottom: 5.1rem
    &__text
      margin-top: -12.3rem
      max-width: 22.9rem
    &__title
      font-size: 1.235rem
      padding-left: 0.9rem
      padding-top: 0.6rem
      padding-bottom: 0.1rem
    &__item
      font-size: 1.1rem
      line-height: 1.723
      margin-left: 0.6rem
      padding-left: -0.2rem
    &__pricetag
      padding: 1rem 2.7rem
      bottom: -1.25rem
      font-size: 1.25rem
  .row
    flex-direction: column
  .col-50
    &:nth-child(2)
      order: -1
  .swiper
    &-slide
      &-image
        margin-top: 3rem
    
