*, *:before, *:after
  box-sizing: border-box
html
  font-size: 14px  

body 
  font-family: 'Futura Book', sans-serif 
  font-size: 1rem
.section
  padding: 3rem
  &--dark
    background-color: $dark
    color: $light
  &-title
    text-align: center
    &--left
      text-align: left
    &__text
      font-size: 1.28rem
      line-height: 2.07rem
      max-width: 31.57rem 
    &__heading
      margin-bottom: 1.5rem
      font-family: 'Yeseva One', cursive
      text-transform: uppercase
      font-size: 1.428rem
      &--primary
        font-size: 1.75rem 
        color: $primary
        line-height: 150%
    &__word
      display: flex
      align-items: center
      justify-content: flex-start
      &::after
        content: ''
        width: 90px
        height: 2px
        background-color: $primary
        margin-left: 2rem
        visibility: visible
    &__image
      display: flex
      justify-content: center
      align-items: center
      &::after, &::before
        content: ''
        width: 2.28rem
        height: 0.14rem
        background-color: $primary
        margin: 0 0.71rem
    &__description
      margin: auto
      margin-top: 1.6rem
      font-size: 1.428rem
      line-height: 1.4
      max-width: 24.9rem
img
  max-width: 100%
