*, *:before, *:after
  box-sizing: border-box
html
  font-size: 14px  

body 
  font-family: 'Futura Book', sans-serif 
  font-size: 1rem
.section 
  padding: 6rem
  &-title
    text-align: center 
    &__heading
      margin-bottom: 0.93rem
      font-family: 'Yeseva One', cursive
      text-transform: uppercase
    &__image
      display: flex
      justify-content: center
      align-items: center
      &::after, &::before
        content: ''
        width: 2.28rem
        height: 0.14rem
        background-color: $primary
        margin: 0 0.71rem
    &__description
      margin: auto
      margin-top: 1.64rem
      font-size: 1.07rem
      line-height: 135.84%
      max-width: 22rem
img
  max-width: 100%




• Измерительные чертежи
• Перепланировка
• Планировка мебели
• План потолков
• План этажей
• План электрики
• План света
• Стенные развертки
• 3D визуализация
• Смета на материалы
• Выезд на подбор материалов
• Выбор мебели


