.hero
  background: url('../img/bg-hero.jpg') no-repeat $dark center/cover
  height: 100vh
  color: $light
  position: relative
  padding-top: 100px
  &__instagram
    position: absolute
    left: 0
    top: 0
    display: inline-block
    min-width: 82px
    height: 100%
.instagram
  background-color: $dark
  display: flex
  justify-content: center
  align-items: center
  &__link
    text-decoration: none
    text-transform: uppercase
    color: $primary
    transform: rotate(90deg)