.hero
  background: url('../img/bg-hero.jpg') no-repeat $dark center/cover
  height: 100vh
  color: $light
  position: relative
  padding-top: 100px
  display: flex
  justify-content: center
  align-items: flex-start
  &__content
    width: 50%
  &__instagram
    position: absolute
    left: 0
    top: 0
    display: inline-block
    min-width: 82px
    height: 100%

  &__scroll-down
    position: absolute
    left: 0
    bottom: 0
    min-width: 247px
    min-height: 97px
    background-color: $dark
    display: flex
    justify-content: center    
    align-items: center
    color: $light
    text-decoration: none
    text-transform: uppercase
  &__text
    font-size: 22px
    max-width: 604px

.instagram
  background-color: $dark
  display: flex
  justify-content: center
  align-items: center
  &__link
    text-decoration: none
    text-transform: uppercase
    color: $primary
    transform: rotate(90deg)
.title
  font-family: 'Yeseva One', cursive
  font-size: 40px
  text-transform: uppercase
  &--primary
    color: $primary
